@media screen and (max-width: 760px) {
    header{
        flex-direction: column;
    }

    ul{
        margin-top: 50px;
    }

    main{
        flex-direction: column;
    }
    #graduacao{
        font-size: 3em;        
    }

    p{
        text-align: center;
    }

    aside{
        width: 100%;
    }

    img{
        max-width: 100%;
    }

    form{
        width: 100%;
    }
}